.circle-container {
  position: fixed;
  bottom: 60px; 
  right: 0; 
  width: 160px;
  height: 225px;
  transform: scale(0.5); 
  opacity: 0.8; 
  z-index: 991; 
  transition: opacity 0.3s; 
}

.circle-container:hover { opacity: 1; }

.circle-container:before {
  content: "";
  position: absolute;
  border: 3px solid gray;
  width: 30px;
  height: 60px;
  top: 0; 
  left: 62.5px;
}

.circle-container:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 75px;
  top: 0px;
  left: 66px;
  background-color: #FFFFFF;
}

.circle {
  position: absolute;
  display: inline-block;
  width: 150px;
  height: 150px;
  top: 65px;
  border: 5px solid white;
  box-shadow: 0 0 0 3px gray;
  border-radius: 50%;
  overflow: hidden;
}

.wave {
  position: relative;
  width: 100%;
  height: 100%;
  background: darkcyan;
  border-radius: 50%;
}

.wave-empty {
  content: '';
  display: inline-block;
  position: absolute;
  width: 200%;
  height: 200%;
  left: 50%;
  border-radius: 45%;
  transform: translate(-50%, -70%) rotate(0deg);
  background: white;
  animation: water 10s linear infinite;
  animation-direction: alternate;
}

@keyframes water {
  0% { transform: translate(-50%, -70%) rotate(0deg); }
  100% { transform: translate(-50%, -75%) rotate(360deg); }
}